[all:vars]
openshift_master_public_url=https://openshift.ocp.example.com
saml_proxy_fqdn=saml.apps.ocp.example.com
saml_proxy_url=https://{{ saml_proxy_fqdn }}
saml_proxy_namespace=ocp-saml-proxy

remote_user_saml_attribute=id
remote_user_name_saml_attribute=fullname
remote_user_email_saml_attribute=email
remote_user_preferred_username=username

sso_application_name=sso
sso_hostname=sso.apps.ocp.example.com
sso_url=https://{{ sso_hostname }}
sso_admin_username=admin
sso_admin_password=Pa55word!
sso_realm=ocp
sso_namespace=sso
sso_saml_metadata_url={{ sso_url }}/auth/realms/{{ sso_realm }}/protocol/saml/descriptor

realm_test_user=test-user
realm_test_user_password=Pa55word!
realm_test_user_email=me@go.com
realm_test_user_firstname=Test
realm_test_user_lastname=User

remove_htpasswd_provider=false

[masters]
master-0 ansible_host=master-0.ocp.example.com

[infra]
infra-0 ansible_host=infra-0.ocp.example.com

[workers]
node-0 ansible_host=node-0.ocp.example.com 

[lb]
lb-0 ansible_host=lb-0.ocp.example.com
